name: Convert CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  converte:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup elixir
      uses: actions/setup-elixir@v1
      with:
        elixir-version: 1.9.4 # Define the elixir version [required]
        otp-version: 22.2 # Define the OTP version [required]
    - name: Install Dependencies
      run: mix deps.get
    - name: Run Convert
      run: mix i18n.converte

    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
        file_pattern: ./pri/gettext/**
        commit_message: Update po file
