name: Convert CI

on:
  push:
    branchs: 
      - master
    paths:
      - 'assets/locale/lang/*.json'
  pull_request:
    paths:
      - 'assets/locale/lang/*.json'

jobs:
  convert:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.head_ref }}
    - name: Setup elixir
      uses: actions/setup-elixir@v1
      with:
        elixir-version: 1.9.4 # Define the elixir version [required]
        otp-version: 22.2 # Define the OTP version [required]
    - name: Install Dependencies
      run: mix deps.get
    - name: Run Convert
      run: mix jet_i18n.convert

    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
        file_pattern: ./priv/gettext/**
        commit_message: Update po file
